aiofiles
asyncio
beautifulsoup4
heroku3
unidecode
python-dotenv
pyyaml
requests
speedtest-cli
gitpython
spotipy
tgcrypto
async_pymongo
blackpink
deep_translator
bing_image_downloader
motor 
youtube-search-python
youtube_search

httpx[http2]==0.27.2
pymongo==4.9.1
py-tgcalls==0.9.7

git+https://github.com/KurimuzonAkuma/pyrogram@dev
git+https://github.com/Mayuri-Chan/pyrofork
git+https://github.com/yt-dlp/yt-dlp